<div class="page">

    <section class="panel panel-default">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Research Center </strong></div>

            <div class="panel-body">
                <p  data-ng-controller="stemCtrl">{{ cells }}</p>
            </div>

        <ul class="samples2" data-ng-controller="SampleListCtrl"> <p>Sample List</p>

            <table class="table table-bordered table-striped table-responsive">
                <thead>
                <tr>
                    <th><div class="th">
                        Sample ID
                                       </div></th>
                    <th><div class="th">
                        Patient age
                             </div></th>
                    <th><div class="th">
                        Genetic
                               </div></th>
                                  </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="sample in samples2">
                    <td>{{sample.id}}</td>
                    <td>{{sample.age}}</td>
                    <td>{{sample.genetic}}</td>
                </tr>
                </tbody>
            </table>
</ul>

     <!--   <ul class="samples" data-ng-controller="SampleListCtrl2"> <p>Sample List</p>

            <table class="table table-bordered table-striped table-responsive">
                <thead>
                <tr>
                    <th><div class="th">
                        Sample ID
                    </div></th>
                    <th><div class="th">
                        Patient age
                    </div></th>
                    <th><div class="th">
                        Genetic
                    </div></th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="S in samples">
                    <td>{{S.id}}</td>
                    <td>{{S.age}}</td>
                    <td>{{S.genetic}}</td>
                </tr>
                </tbody>
            </table>

        </ul>-->
    </section>
</div>